body {
  font-family: helvetica;
}

#info-box {
  z-index: 100;
  width: 30%;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #FFF;
  padding: 20px;
  box-shadow: 3px 3px 0px #CCCCCC;
}

.loading {
  color: #CCCCCC;
}

.report {
  margin-top: 10px;
  border: 1px solid #CFCFCF;
  padding: 10px;
  border-radius: 5px;
}

.single-value .name, .single-value .value {
  display: block;
}

.single-value .name {
  font-family: helvetica;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
}

.single-value .value {
  font-family: 'Crete Round', serif;
  font-size: 25px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: 25px;
}