body {
  font-family: helvetica;
}

#info-box-container {
  z-index: 100;
  width: 500px;
  position: absolute;
  right: 30px;
  top: 30px;
  box-shadow: 3px 3px 0px #CCCCCC;
}

#info-box {
  overflow: auto;
  height: 100%;
}

.window, #info-box-header {
  background-color: #d6edf7;
}

#info-box-header {
  height: 40px;
  padding: 10px;
}

#info-content {
  background-color: #FFF;
  padding: 0 10px 10px 10px;
}

.loading {
  opacity: 0.7;
}

.report {
  margin-top: 10px;
  border: 1px solid #CFCFCF;
  padding: 10px;
  border-radius: 5px;
}

.name, .single-value .value {
  display: block;
}

.name, h2 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #0f3748;
}

.single-value .value {
  font-family: 'Crete Round', serif;
  font-size: 25px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: 20px;
  margin-top: 0px;
}

.error {
  border: 1px solid red;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#instructions button {
  padding: 5px 10px;
  font-size: 15px;
  margin: 0 10px 0 15px;
}

#small-info {
  position: absolute;
  bottom: 30px;
  left: 10px;
  background-color: #FFF;
  padding: 10px;
  box-shadow: 3px 3px 0px #CCCCCC;
  z-index: 100;
  vertical-align: middle;
}

.window {
  position: absolute;
  padding: 20px;
  box-shadow: 3px 3px 0px #CCCCCC;
  z-index: 200;
  border-radius: 5px;
}

#small-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#small-info li {
  margin-top: 5px;
}

#extra-info {
  width: 400px;
}

#extra-info button {
  padding: 5px 10px;
  font-size: 15px;
}

a:link, a:visited {
  color: #4386a2;
}